# Django
SECRET_KEY=replace_this_with_a_generated_secret_key
DEBUG=False

ALLOWED_HOSTS=api-videoflix.rene-theis.de
CSRF_TRUSTED_ORIGINS=https://api-videoflix.rene-theis.de,https://videoflix.rene-theis.de
CORS_ALLOWED_ORIGINS=https://videoflix.rene-theis.de
CORS_ALLOW_CREDENTIALS=True

FRONTEND_BASE_URL=https://videoflix.rene-theis.de
EMAIL_LOGO_URL=https://assets.rene-theis.de/videoflix/videoflix_logo.png

# Cookies / HTTPS
JWT_COOKIE_SECURE=True
JWT_COOKIE_SAMESITE=Lax
CSRF_COOKIE_DOMAIN=.rene-theis.de
CSRF_COOKIE_SAMESITE=Lax
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

# Initial Django superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=replace_this_with_a_secure_admin_password
DJANGO_SUPERUSER_EMAIL=admin@rene-theis.de

# PostgreSQL
DB_NAME=videoflix_db
DB_USER=videoflix_user
DB_PASSWORD=replace_this_with_a_secure_database_password
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_LOCATION=redis://redis:6379/1
REDIS_PORT=6379
REDIS_DB=0

# E-Mail / SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=w01f3b7f.kasserver.com
EMAIL_PORT=465
EMAIL_HOST_USER=noreply@rene-theis.de
EMAIL_HOST_PASSWORD=replace_this_with_your_mailbox_password
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
DEFAULT_FROM_EMAIL=Videoflix <noreply@rene-theis.de>
